#board {
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(8,10vh);
    grid-template-rows: repeat(8,10vh);
    border: 1px solid #777;
    font-size: 10vh;
}

.square {
    cursor: pointer;
    line-height: 1.1;
}